
<header class ="header">
<br>
<br>
<div><login-home></login-home></div>
<div><owner-home></owner-home></div>
<div><home-home></home-home></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="p"><p>We are community based help serivce!</p></div>
<br>
<div class="p"><p>Our production solves the problem with the lack of fast, context 
    specific and most importantly - untampered help out there. 
    We solves that problem for our users by providing them and instant and specific 
    help from people that may have already walked the same </p>
 <p>So next time, when you visit a site and you can't find review or an answer that satisfies your information
     needs, you can open up our chat whidget and ask a non-formal question to one of our helpers </p>
</div> 
<br>
<br>  
<div><feed-home></feed-home></div>
<div><sign-home></sign-home></div>
<div><try-home></try-home></div>
<br>
<br>
<br>
<br>
<br>
<search-home></search-home>
</header>
<help-home></help-home>

